* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    min-height: 800px;
    background: url(../img/main_bg.jpg) no-repeat 0 50% / cover;
    padding: 40px 0px 60px;
    text-align: center;
}

.promo-logo {
    text-align: center;
    margin-bottom: 50px;
}

.promo-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
}

.promo-logo img {
    display: block;
    margin: 0 auto;
    margin-bottom: 9px;
}

.promo-subtitle {
    color: #F9BF3B;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-transform: uppercase;
}

.promo-title {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
}

.promo-title:after, .promo-title:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 235px;
    height: 2px;
    background: #fff;
}

.promo-title span {
    margin: 0px 15px 0px;
    display: inline-block;
    vertical-align: middle;
}

.promo-text {
    color: #FFF;
    margin-top: 18px;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    line-height: 28px;
    font-size: 21px;
    text-align: center;
    align-items: center;
}

.promo-text strong {
    color: #F9BF3B;
    text-transform: uppercase;
}

.promo-button {
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    font-size: 18px;
    line-height: 24px;
    margin-top: 72px;
    cursor: pointer;
    border: none;
}

.promo-button:hover {
    background: #F9BF3B;

}

.promo-moreinfo {

    margin-top: 70px;
}

.promo-moreinfo a {

    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo-moreinfo img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;

}

/* начало второй секции ИНТЕНСИВ */
.intensive {
    width: 100%;
    min-height: 600px;
    background: #EFEFEF;
    padding: 80px 0 75px;
}

/* Что вас ждет в нашем интенсиве? */
.intensive-title {
    color: #252525;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

/* полоска */
.intensive-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 220px;
    height: 5px;
    background: #F9BF3B;
}

/* 2 бесплатных полноценных обучающих вебинара */
.intensive-text {
    color: #4a4a4a;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 45px;
}

/* Общая коробка с фото */
.intensive-box {
    display: flex;
    justify-content: space-between;
}

/* Коробка с отдельным фото */
.intensive-item {
    width: 350px;
    /* flex-basis: 346px; */

    letter-spacing: normal;
    vertical-align: top;
}

/* Обращение к фото в коробке */
.intensive-item img {
    width: 100%;
    text-align: center;
}

/* Обращение к тексту в коробке */
.intensive-item p {
    overflow: hidden;
    text-align: center;
    color: #4a4a4a;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
}

.optimization {
    position: relative;
    min-height: 550px;
}

.optimization-img {
    position: absolute;
    margin-top: 45px;
    margin-left: -240px;
}

.optimization-img img {
    display: block;
    /* vertical-align: top;   дисплей блок можно заменить на вертикал алигн*/ 
}
.optimization-box {
    position: absolute;
    width: 1200px;
    min-height: 550px;
    padding: 105px 30px 0 405px;
}

/* Что такое оптимизация и зачем она нужна? */
.optimization-title {
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 28px;
    text-transform: uppercase;
    color: #299CBD;
    margin-bottom: 25px;
}

.optimization-text {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4a4a4a;
}

.skills {
    border: solid 1px #000;
    width: 100%;
    height: 450px;
    background-image: url(../img/second_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 86px 0 60px;
}

.skills-title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #EFEFEF;
    text-transform: uppercase;
    text-align: center;
}

.skills-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 220px;
    height: 5px;
    background: #F9BF3B;
}

.skill-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.skills-item {
    width: 215px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}

.skill-img {
    width: 115px;
    height: 115px;
    background: #B4E2FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.gifts {
text-align: center;
    width: 100%;
    min-height: 600px;
    background: #EFEFEF;
    padding: 88px 0 110px;
}

.gifts-box p {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
}

.button {
     margin-top: 75px;
     
}

.gifts-button {
    width: 312px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    border: none;
    
}

.gifts-button:hover {
    background: #F9BF3B;
}

.vebinar {
    text-align: center;
}

.vebinar-box {
    padding-top: 83px;
    
}

.vebinar-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    margin-top: 35px;
}

.vebinar-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
}

.vebinar-text {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    margin: 25px 0 50px;
    color: #4A4A4A;
}

footer {
    min-height: 170px;
    background: #1A1A1A;
    padding: 60px 0 70px;
}

.footer-text {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}

.footer-text a {
    color: #888888;
}

.footer .link-delivery {
    display: inline-block;
    padding: 0 5px;
}